.episode-info-container {
  width: 90%;
  margin: auto;
}

.character-info-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
}

.episode-info-title {
  text-align: left;
  margin: 30px 5%;
  text-transform: uppercase;
  color: rgb(73, 73, 73);
  text-decoration: underline rgb(221, 218, 35);
}

.episode-info-description {
  border-bottom: 3px solid #eee;
  margin: 100px 20px 40px;
}

.char-name {
  color: rgb(73, 73, 73);
  text-decoration: underline rgb(221, 218, 35);
}

.episode-info-item {
  text-align: center;
  width: auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 20px 20px;
  box-sizing: border-box;
  flex-grow: 3;
  position: relative;
  background-color: rgb(250, 250, 250);

  background: linear-gradient(
      to left,
      rgb(250, 250, 250) 50%,
      rgb(219, 216, 19) 50%
    )
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.episode-info-item:hover {
  background-position: left;
}

.info-image {
  border-radius: 50%;
  width: 10rem;
}
