.input-search {
    text-align: center;
  width: 60%;
  padding: 12px 20px;
  margin: 24px auto;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid rgb(109, 109, 109);
  transition: width 0.4s ease-in-out;
 
}

input[type=text]:focus {
    border-top: none;
  border-left: none;
  border-right: none;
    border-bottom: 4px solid #555;
    width: 100%;
  }

.input-search-container {
  width: 80%;
  margin: auto;
  text-align: center;
}
